{% extends 'authentication/base.html' %}

{% block content %}
<h2>Sign Up</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h3>User Information</h3>
    {% for field in user_form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
    
    <h3>Address Information</h3>
    {% for field in address_form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
    
    <button type="submit" class="btn">Sign Up</button>
</form>
<p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
{% endblock %}